@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Mulish:wght@400;700&family=Poppins:wght@400;700&display=swap');

*{
font-family: 'Montserrat', sans-serif; /* Fuente principal */
font-family: 'Mulish', sans-serif; /* Fuente secundaria */
list-style: none;
}




/* NAVBAR */

header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.nav-cont {
    display: flex;
    align-items: center;
    font-size: 15px;
    margin-right: 18px;
    
}

.logo {
    margin-left: 22px;
    
    
}

.logo>img {
    height: 40px;
    width: 170px;

}

.search-button{
color: orangered;
border: #FFF;
box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.10);
width: auto;
height: 35px;
}

.btn-location{
    font-size: 14px;
    font-family:'Mulish' ;
    color: #333;
    font-weight: 400;
    border: #FFF;
    box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.10);
    width: auto;
    height: 35px;
}

.btn-location:focus {
outline: none;
border: 1px solid #ccc;
}

.btn-guest{
    font-size: 14px;
    font-family:'Mulish' ;
    color: #BDBDBD;
    font-weight: 400;
    border: #FFF;
    box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.10);
    width: auto;
}


.list-group{
    margin-top:15px ;
    position: relative;
}

.enlace{
    color: #333;
    font-size: 18px;
    display: flex;
    align-items: baseline;
    margin-bottom: 10px;
    text-decoration: none;
}

.material-symbols-outlined{
    color: #222;
    font-weight: 800;    
}

.flex{
    display: flex;
}

/* Sub */

.stay{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 10px;

}

.monserrat{
color: #333;
font-family: Montserrat;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-left: 45px;
}

.span-12{
color: #4F4F4F;
font-family: Montserrat;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-right: 45px;
}



/* SECTIONS */

.card-body > img {
    height: 20rem;
    width: 30rem;
    padding: 5px;
    border-radius: 25px;
    
}


.cont-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 15px;
    
   
}

.card-title {
padding: 5px;
font-size: 16px;
font-weight: 700;
margin-left: 8px;
}

.card {
    border: none;
    background-color: transparent;
    width: 30rem;
    
}

.rating{
    display: flex;
    align-items: center;
     
}

.star {
    color:orangered;
    font-weight: 800;
    font-size: 18px;

}

.host{
    border: solid 1px #222;
    font-size: 12px;
    font-weight: bold;
    padding: 8px;
    border-radius: 18px;
}

.cards-container{
    display: flex;
    flex-wrap: wrap;
    place-content: center;

}



/* GuestSelector.css */

.guest-selector {
  position: relative;
}

.add-guests-btn {
    font-size: 14px;
    font-family:'Mulish' ;
    color: #BDBDBD;
    font-weight: 400;
    border: #FFF;
    box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.10);
    width: auto;
    height: 35px;
}

.selector-popup {
  position: absolute;
  top: 100%;
  right: 0px;
  background-color: #fff;
  box-shadow: 0px 1px 6px 0 rgba(0, 0, 0, 0.10);
  border-radius: 5px;
  padding: 10px;
  width: 270px;
  z-index: 1;
}

.selector-header {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.guests-count {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.guest-type {
  font-size: 16px;
}

.count-controls button {
  background-color: transparent;
  color: #828282;
  border:solid 1px #828282;
  padding: 0 5px ;
  cursor: pointer;
  border-radius: 16%;
  font-size: 15px;
}

.count-controls span {
  font-size: 16px;
  font-weight: 700;
  padding: 0 10px;
}

.apply-btn {
  background-color: orangered;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 800;
  width: 100%;
}




/* querys responsive */
@media (max-width: 600px) and (max-height: 717px) {
    header  {
      display: flex;
      flex-direction: column;
      place-items: center;
      
    }

    .logo > img{
        width: 170px;
        height: 85px;


    }

    .input-group {
        margin-top: 20px;
        /* margin-left: 40px; */
        
    }

    .selector-popup {
        top: 100%;
        right: 0px;
        background-color: #fff;
        box-shadow: 0px 1px 6px 0 rgba(0, 0, 0, 0.10);
        border-radius: 5px;
        padding: 10px;
        width: 270px;
        z-index: 1;
      }

    .form-selection {
        width: 150px;
        height: 55px;
        flex-shrink: 0;

    }
    .card-body > img {
        max-width: 100%;
        margin-left: 10px;
        padding: 15px;
    }

    img {
        max-width: 100%;
    }

    .card {
        width:29rem;
        margin-left: 14px;
        

    }

    .cards-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

}

@media (max-width: 500px) and (max-height: 717px) {
    header  {
        display: flex;
        flex-direction: column;
        place-items: center;
        
      }

      .logo > img {
        width: 170px;
        height: 85px;


    }

    .nav-cont {
        margin-top: 20px;
        margin-left: 40px;
        
    }

    .form-slection {
        width: 150px;
        height: 55px;
        flex-shrink: 0;

    }
    .card-body > img {
        max-width: 100%;
        margin-left: 0px;
        padding: 15px;
    }

    img {
        max-width: 100%;
    }

    .card {
        width:28rem;
        margin-left: 10px;
        

    }

    .cards-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

}

@media (max-width: 470px) and (max-height: 717px) {
    header  {
        display: flex;
        flex-direction: column;
        place-items: center;
        
      }

      .logo > img {
        width: 170px;
        height: 85px;


    }


    .nav-cont {
        margin-top: 20px;
        margin-left: 40px;
        
    }

    .form-slection {
        width: 120px;
        height: 55px;
        flex-shrink: 0;

    }

    img {
        max-width: 100%;
    }


    .card-body > img {
        max-width: 100%;
        margin-left: 0px;
        padding: 15px;
    }

    .card {
        width:28rem;
        margin-left: 10px;
        

    }

    .cards-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .cont-details {
        width: 100%;
    }
}

@media (max-width: 410px) and (max-height: 717px) {
    header  {
        display: flex;
        flex-direction: column;
        place-items: center;
        
      }

      .logo > img {
        width: 170px;
        height: 85px;


    }

      .nav-cont {
          margin-top: 20px;
          margin-left: 40px;
          
      }
  
      .form-slection {
          width: 110px;
          height: 55px;
          flex-shrink: 0;
  
      }

      .card {
        width:25rem;
        margin-left: 10px;
        

    }
}


@media (max-width: 400px) and (max-height: 717px) {
    header  {
        display: flex;
        flex-direction: column;
        place-items: center;
        
      }


      .logo > img {
        width: 170px;
        height: 85px;


    }


    .nav-cont {
        margin-top: 20px;
        margin-left: 40px;
        
    }

    .form-slection {
        width: 100px;
        height: 55px;
        flex-shrink: 0;

    }

    img {
        max-width: 100%;
    }

    .card {
        width:21rem;
        margin-left: 20px;
    }


    .card-body > img {
        max-width: 100%;
        margin-left: 5px;
        padding: 15px;
    }

    .cards-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

}


@media (max-width: 375px) and (max-height: 717px) {
    header  {
        display: flex;
        flex-direction: column;
        place-items: center;
        
      }

      .logo > img {
        width: 170px;
        height: 85px;


    }



    .nav-cont {
        margin-top: 20px;
        margin-left: 40px;
        
    }

    .form-slection {
        width: 100px;
        height: 55px;
        flex-shrink: 0;

    }

    img {
        max-width: 100%;
    }

    .card {
        width:20rem;
        margin-left: 20px;
    }


    .card-body > img {
        max-width: 100%;
        margin-left: 5px;
        padding: 15px;
    }

    .cards-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

}